/* (c) Raphaël Jakse, 2019
 * This file is under the GNU GPLv3 license. */

.vsb-wrapper {
    box-shadow: none !important;
    border-radius: 0 !important;
}

.vsc__container {
    padding-top:0 !important;
}

#main .gondola {
    background-image: none !important;
}

.gondola__blur,
.gondola__event,
.vsc__header-table,
footer,
.vsc__footer,
.contentBlock,
.gondola_img_container,
.vsc__container .patches,
#vsc__beta,
#a11y_skip_links,
.vsc__menu,
.vsc__lightbox--survey,
#cookie-policy-popin,
#smartbanner,
.oui-feedback {
    display:none !important;
}

.smartbanner-show {
    margin-top:0;
}

* { transition: none !important; animation: none !important}

#paymentStep {
    background:#ea5330 !important;
}

.headband {
    top: 0 !important;
}

.oui-devis-app #header__search-form, .vsb-expand-area {
    height: auto !important;
}
